{% extends "main.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="relative container mx-auto px-6 z-10 pt-12 lg:pt-40 pb-8 lg:pb-32">
            <div class="max-w-3xl text-center mx-auto">
                <h2 style="  display: flex;justify-content: center; padding-top:80px;  font-size: 50px;">Loan Application Documents</h2>
                <div>    
                <p style="margin-left:50px; margin-right:30px;font-size: 35px;">Proof of Identity (Any one of the following):</p>
                <ul style="font-size:25px;margin-left:40px;margin-right:30px;">
                    <li>Aadhar Card</li>
                    <li>Passport</li>
                    <li>Voter ID card</li>
                    <li>Driving License</li>
                    <li>PAN Card</li>
                </ul>
                </div>  
                <div>    
                    <p style="margin-left:50px; margin-right:30px;font-size: 35px;">Proof of Residence/Address (Any one of the following):</p>
                    <ul style="font-size:25px;margin-left:40px;margin-right:30px;">
                        <li>Aadhar Card</li>
                        <li>Passport</li>
                        <li>Voter ID card</li>
                        <li>Driving License</li>
                        <li>Recent utility bills (Electricity bill, Water bill, Gas bill)</li>
                        <li>Rental agreement</li>
                    </ul>
                    </div>  
                 </div>
                 <div>    
                    <p style="margin-left:50px; margin-right:30px;font-size: 35px;">Income Proof (Depending on the type of loan and borrower's occupation):</p>
                    <ul style="font-size:25px;margin-left:40px;margin-right:30px;">
                        <li>Salary slips for salaried individuals</li>
                        <li>Income Tax Returns (ITR) and Balance Sheet for self-employed individuals</li>
                        <li>Form 16</li>
                        <li>Bank statements</li>
                    </ul>
                </div>     
                <div>    
                    <p style="margin-left:50px; margin-right:30px;font-size: 35px;">Employment Proof (For salaried individuals):</p>
                    <ul style="font-size:25px;margin-left:40px;margin-right:30px;">
                            <li>Employment verification letter from the employer</li>
                            <li>Offer letter from the employer</li>
                    </ul>
                </div>  
                <div>
                    <p style="margin-left:50px; margin-right:30px;font-size: 35px;">Business Proof (For self-employed individuals):</p>
                    <ul style="font-size:25px;margin-left:40px;margin-right:30px;">
                        <li>Business registration documents</li>
                        <li>Business address proof</li>
                    </ul>
                </div> 
                <div>    
                    <p style="margin-left:50px; margin-right:30px;font-size: 35px;">Property Documents (For Property-Related Loans):</p>
                    <ul style="font-size:25px;margin-left:40px;margin-right:30px;">
                        <li>Title deeds</li>
                        <li>Sale agreement</li>
                        <li>Property tax receipts</li>
                        <li>Approved building plan</li>
                    </ul>
                </div> 
                <div>    
                    <p style="margin-left:50px; margin-right:30px;font-size: 35px;">Guarantor Documents (If applicable):</p>
                    <ul style="font-size:25px;margin-left:40px;margin-right:30px;">
                        <li>Identity and address proofs of the guarantor</li>
                        <li>Income proof of the guarantor</li>
                    </ul>
                </div> 
                <div style="padding-bottom:100px;">    
                    <p style="margin-left:50px; margin-right:30px;font-size: 35px;">Educational Documents (For Educational Loans):</p>
                    <ul style="font-size:25px;margin-left:40px;margin-right:30px;">
                        <li>Admission letter from the educational institution</li>
                        <li>Fee structure and expenses details</li>
                        <li>Academic records and certificates</li>
                    </ul>
                </div> 

            </div>
           
        </div>
 </div>
    </div>
</section>
{% endblock %}