<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LoanEval</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="../static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <!-- Main css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/main.css">

</head>

<body>

  <div class="topnav" id="myTopnav">
    <a href="/" class="active" onclick="selected()">Home</a>
    <a href="/predicts" onclick="selected()">Check Eligibility</a>
    <a href="/emi_calculator" onclick="selected()">Emi Calculator</a>
    <a href="/loan" onclick="selected()">Loan Details</a>
    <a href="/documents" onclick="selected()">Documents Required</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i>
        <div class="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </i>
    </a>
  </div>
 <div>

  <p>
    {% block content %}{% endblock %}
 </p>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }

    // JavaScript to add 'selected' class to the clicked item
   function selected(){
    const navbarItems = document.querySelectorAll('.topnav a');

    navbarItems.forEach(item => {
      item.addEventListener('click', function(event) {
        // Prevent the default link behavior
        event.preventDefault();

        // Remove 'selected' class from all items
        navbarItems.forEach(item => {
          item.classList.remove('selected');
        });

        // Add 'selected' class to the clicked item
        this.classList.add('selected');
      });
    });
   }
  </script>
</body>
</html>